.container {
  margin: auto;
  width: 700px;
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
}

 .container .item {
  flex: 1 1 auto;
}

.container .form {
  width: 100%;
}

.container .form__element {
  padding: 5px 0px 25px 2px;
  width: 100%;
  margin-bottom: .5rem;
}

.container .container__button {
  margin: 0 auto;
  display: block;
  width: 20%;
  margin-top: 1rem;
}
