<div class="container">
  <form class="form item" [formGroup]="formCheckout" (ngSubmit)="sendCheckout()">
    <mat-form-field class="form__element">
      <input matInput placeholder="Name" formControlName="name" name="name">
      <mat-error *ngIf="formCheckout.get('name')?.hasError('required')">
        El nombre es requerido
      </mat-error>
    </mat-form-field>

    <mat-radio-group class="form__element">
      <p>Choose an option</p>
      <mat-radio-button value="pickup" (change)="onPickupOrDelivery(false)">Pickup</mat-radio-button>
      <mat-radio-button value="delivery" (change)="onPickupOrDelivery(true)">Delivery</mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="form__element">
      <input matInput placeholder="Shipping address" formControlName="shippingAddress" name="shippingAddress">
    </mat-form-field>

    <mat-form-field class="form__element">
      <input matInput placeholder="City" formControlName="city" name="city">
      <mat-error *ngIf="formCheckout.get('city')?.hasError('required')">
        La ciudad es requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__element">
      <mat-label>Select me</mat-label>

      <mat-select formControlName="store" name="store">
        <mat-option *ngFor="let tienda of stores" [value]="tienda">
          {{ tienda.name }} - {{ tienda.openingHours }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formCheckout.get('store')?.hasError('required')">
        Debe seleccionar una tienda
      </mat-error>
    </mat-form-field>
    <br>
    <div class="container__button">
      <button id="btnSubmit" [disabled]="formCheckout.invalid" mat-raised-button type="submit" color="primary">Enviar</button>
    </div>
  </form>
</div>
